body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  display: block;
  background: #eee;
  margin: 1em 0;
  padding: .5em;
}
nav a {
  color: #369;
}
nav li {
  list-style: square;
  line-height: 1.5em;
}
nav li:last-child {
  margin-top: 2em;
  list-style: none;
  font-weight: bold;
}
nav li:last-child a {
  background: #369;
  display: inline-block;
  margin-left: -1em;
  padding: 2px 5px;
  color: #fff;
  text-decoration: none;
}